.embed-responsive-item {
	height: 200px!important;
	border: 1px solid #CCC!important;
	border-radius: 4px;
}
.embed-responsive.embed-responsive-4by3 {
	padding-bottom: 19%;
}
.big-checkbox {
	width: 30px; 
	height: 30px;
}
.small_val {
	color: red;
}
.label.active {
	border: 2px solid yellow!important;
}
.h3-cart {
	margin-top: 0px;
	margin-bottom: 0px;
}
.distane {
	height: 70px;
}
.tab-content {
	border:1px solid #DDD;
}